

* {
	/*border: 1px solid green;*/
}

#map {
    /*height:60vh;*/
	height:70vh;
    width:100%;
}





.large {
	
}
.larger {
	font-size: 1.5em;
}
.largest {
	
}
.detail-page-end {
	background-color: #b27863;
}


body, .bkg-color {
	background-color: #f5e6e1;
}
.red-dark {
	color:#e68c6b;
}
.text-white {
	color:white;
}
.text-lighter {
	color:white;
}
.width-full{
	width:100%;
}
.text-bold {
	font-weight: bold;
}
button.red-darker {
	color:#e68c6b;
	background-color: #3b1a13;
}
button.red-lighter {
	color:#000;
	background-color: #e68c6b;
}
button.black {
	color:#e68c6b;
	background-color: #000;
}
.color-darkest {
	background-color:#6b0b01;
}
.box{
	padding: 20px;
	background-color: yellow;
	border:10px solid red;
}

/*************************************/
.text-tiny {
	font-size: 0.5em;
}


a.color-lighter {
	color:#d5b6ad;
}


.size-huge {
	font-size: 6em;
}


h1.h1-smaller {
	font-size: 1.4em;
}



a:hover {text-decoration: none;}



ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li{
	display: inline;
	padding: 1%;
}

header, footer {
	min-height: 44px;
	background-color: #000;
}
/*************************************/
/*a .glyphicon:active, a.glyphicon:active, .glyphicon a:active {
	background-color: blue;
	color:yellow;
}*/
/*************************************/

#performances * {
	/*border:1px solid red;*/
}
#performances h3 {
	/*background-color: yellow;*/
	margin: 0;
}
#performances h4 {
	/*background-color: yellow;*/
	margin: 0;
}

#performances, #place-details {
	background: #3d150c; /* Old browsers */
background: -moz-linear-gradient(top,  #3d150c 0%, #3a1e18 43%, #b27863 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d150c), color-stop(43%,#3a1e18), color-stop(100%,#b27863)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3d150c 0%,#3a1e18 43%,#b27863 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3d150c 0%,#3a1e18 43%,#b27863 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3d150c 0%,#3a1e18 43%,#b27863 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3d150c 0%,#3a1e18 43%,#b27863 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d150c', endColorstr='#b27863',GradientType=0 ); /* IE6-9 */


}
#performances .performance {
	padding:1% 5% 1% 5%;
}
#performances .performance img {
	width:44px;
	height:44px;
}
/**************** CAROUSEL *********************/

ul[rn-carousel] {
    width:100%;
    height:200px;
    margin: 0 auto;
}

.carousel li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}
.rn-carousel-indicator {
	text-align: center;
}
.rn-carousel-indicator .ng-scope {
	color:#6c3c2d;
}
.rn-carousel-indicator .ng-scope.active {
	color:#fff;
}

/*************************************/
.text-italic {
	font-style: italic;
}
.center-vertical {
	padding-top: 10%;
}
/*.performance {
	display: block;
	overflow: hidden;
	background-color: white;
	width: 88px;
	height: 88px;
	color: black;
}*/
/*************************************/

header {
	padding: 4px 0 4px 0;

}
header input {
	width:100%;
	/*height:44px;*/
}
header h1 {
	padding: 0;
	margin: 0;
	font-size: 2em;
}
header .header-side-btn {
	font-size: 20px;
	padding: 10% 0 0 0;
}
header .header-side-btn-left {
	
}
header .header-side-btn-right {
	
}
/*header #search-field {
	opacity: 1;
   transition: opacity .9s ease-in-out;
   -moz-transition: opacity .9s ease-in-out;
   -webkit-transition: opacity .9s ease-in-out;
}
header #search-field.ng-hide {
    opacity: 0;
    transition: opacity 0s ease-in-out;
   -moz-transition: opacity 0s ease-in-out;
   -webkit-transition: opacity 0s ease-in-out;
}*/
/*************************************/
footer {
	color:#ccc;
	position:fixed;
   left:0px;
   bottom:0px;
   height:44px;
   width:100%;
}
/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
footer a .menu-label {
	font-size: 2em;
}
footer .glyphicon {
	margin: 0 3px 0 0;
}
/*************************************/
.text-condensed {
	/*
	font-family: 'Wire One', sans-serif;
	*/
	font-family: 'Medula One', serif;
}
.text-light {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 100;
}
.text-bold {
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
	padding: 0;
	margin: 0;
	padding: 1% 0 0 0;
}
/*************************************/
main {
	/* otherwise last elemtn of list is covered with footer */
	/*padding-bottom: 44px;*/
	
}

/*************************************/
.list-element img {
	width: 44px;
	height: 44px;
	/*border:5px solid #dfb1a2;*/
}
/*************************************/
a.list-element, a.list-element:link, a.list-element:visited {
	display: block;
	overflow: hidden;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #d7ac9f;
}
a.list-element:link, a.list-element:visited {
	background-color: transparent;
}
a.list-element:hover {
	background-color: transparent;
}
a.list-element:active {
	background-color: #dea592;
}

/*************************************/
#concert-details, #place-details {
	padding-top: 2%;
	padding-bottom: 3%;
}
#concert #concert-details ul {
	list-style-type: circle !important;
}
#concert #concert-details ul li {
	display: inline;
}
#concert #concert-details ul li + li::before {
    content: "//";
}
/*************************************/
#place-details {
	overflow: hidden;
}
/*************************************/
#concerts-list a.list-element {
	padding: 0 0 5px 0;
}
#places-list a.list-element {
	padding: 5px 0 5px 0;
}



.gradient {
	/*
	background: -webkit-gradient(
		linear,
		left bottom, right top,
		from(#fff),
		to(#eee)
	);
	background: -webkit-linear-gradient(
		left bottom,
		#fff,
		#eee
	);
	background: -moz-linear-gradient(
		left bottom,
		#fff,
		#eee
	);
	background: -o-linear-gradient(
		left bottom,
		#fff,
		#eee
	);
	background: linear-gradient(
		left bottom,
		#fff,
		#eee
	);
*/
}
/*************************************/
#landscape {
	
}

/*************************************/
.pad-marg-none {
	padding: 0;
	margin: 0;
}
.date {
	text-align: center;
}
.date-narrow {
	/*width: 88px;*/
}

.date .day {
	font-size: 2.2em;
}
.date .day-alt1 {
	background-color: white;
	/*display: block;
  position: relative;*/
}
/*.date .day-alt2::after {
  content: "";
  background: url(http://0.gravatar.com/avatar/adfa32af6cb568d63b216ac217c4d1f0?s=160&d=http%3A%2F%2Fcss-tricks.com%2Fimages%2Fget-gravatar.png%3Fs%3D160&r=PG);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/

.date-container{
	position: relative;
    width: 88px; height: 88px;
}





/*.date-text {
	opacity: 1;
	font-size: 2em;
	font-weight: bold;
	color:white;
	position: absolute;
	z-index: 200;
}

.date-bkg-color{
	filter:alpha(opacity=30); 
			    -moz-opacity:0.3; 
			    opacity: 0.3; 
			    top: 0; left: 0;
			    height: 88px; width:88px;
			    background-size: 88px 88px;
			    border-radius: 44px;
				-webkit-border-radius: 44px;
				-moz-border-radius: 44px;
				background-color: #6b3801;
				z-index: 195;
}

.date-bkg{
    z-index: 190;
}*/

.date .day-alt2 {
	background-color: transparent;
	
}




.date .month {
	font-size: 0.6em;
	text-transform: uppercase;
	padding: 0 1px 0 1px;
}
.date .month-alt1 {
	background-color: #000;
	/*filter: alpha(opacity=20); 
	opacity: 0.2;*/
}
.date .month-alt2 {
	background-color: #000;
}
.drop-shadow{
	-moz-box-shadow:    0px 0px 3px 3px #ccc;
  	-webkit-box-shadow: 0px 0px 3px 3px #ccc;
  	box-shadow:         0px 0px 3px 3px #ccc;
} 
.white {
	color:white;
}
.white:hover {
	color:#ccc;
	text-decoration: none;
}
.black {color:black;}
.grey {color:#999;}




