
<nav class="text-condensed row">
		<div class="col-xs-4 white">
			<a ng-href="#/concerts-list" class="black-bkg ">
				<span class="glyphicon glyphicon-th-list color1-medium small"></span>
				<span class="menu-label white">Concerts</span>
			</a>
		</div>
		<div class="col-xs-4 white ">
			<a ng-href="#/map" class=" black-bkg">
				<span class="glyphicon glyphicon-map-marker color1-medium small"></span>
				<span class="menu-label white">Map</span>
			</a>
		</div>
		<div class="col-xs-4 white">
			<a ng-href="#/places-list" class="black-bkg ">
				<span class="glyphicon glyphicon-tower color1-medium small"></span>
				<span class="menu-label white">Lieux</span>
			</a>
		</div>
</nav>	