

<div id="concerts-list" >

  <ul >
	<li ng-repeat="concert in filteredConcerts = (concerts | filter:search.searchTerm)" class="">

	<a 
	ng-href="#/concert/{{concert.id}}" 
	class="row list-element gradient"
	>
		<div class="col-xs-9">
			<h2 class="text-condensed black">
				{{concert.name}}
			</h2>
			<span class="grey">
				<span ng-show="concert.interpreter">
	        		{{concert.interpreter}}
	    		</span>
				<span ng-show="concert.director">
	        		DIRECT:{{concert.director}}
	    		</span>
	    		<span ng-show="concert.composer">
	        		COMP:{{concert.composer}}
	    		</span>
	    		<span ng-show="concert.style">
	        		STYLE:{{concert.style}}
	    		</span>
    		</span>
		</div>
		<div class="col-xs-3">
			<div class="date drop-shadow">
				<div class="day black text-light">
					{{concert.performances[0].date_performance | date : "d"}}
				</div>
				<div class="month text-bold white">
					{{concert.performances[0].date_performance | date : "MMMM"}}
				</div>
			</div>
		</div>		
	</a>
	</li>
	<!-- nghide to show only when there s no result
	ngshow to show only if we re in stateSearch, means the searh icon has been clicked -->
	<div ng-hide="filteredConcerts.length"  class="text-center center-vertical">
		<!-- <div ng-show="Data.stateSearch" > -->
			No result for
			<div class="text-italic text-light">“{{search.searchTerm}}”</div>
			<div>
				<a ng-click="stateSearchToggle()" class="size-huge color-lighter">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
			</div>
		<!-- </div> -->
	</div>
	
  </ul>



</div>





