
<!-- <div style="background-color:red">yoyo</div> -->

<div id="concert" class="row" >

		<div 
		id="landscape" 
		style="
		background: url(../symfony/web/bundles/tapiocadesignclasslivegnv/images/works/{{work.name_url}}/landscape.jpg);
		background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position:center;
	    height: 50px;
	    "
		>
		</div>


		<div class="col-xs-12 bkg-color" id="work">

			<ul>
						<li ng-show="work.interpreter">
			        		<span class="text-italic text-light">Interpreter(s):</span> {{work.interpreter}}
			    		</li>
						<li ng-show="work.director">
			        		<span class="text-italic text-light">Direction:</span> {{work.director}}
			    		</li>
			    		<li ng-show="work.composer">
			        		<span class="text-italic text-light">Composer(s):</span> {{work.composer}}
			    		</li>
			    		<li ng-show="work.style">
			        		<span class="text-italic text-light">Style:</span> {{work.style}}
			    		</li>
			</ul>

		</div>


<div id="dates" class="color-darkest">
	<div ng-show="!showActions" data-ng-swipe-left="someFunction()" class="performance">
		Some list co<br />ntent, like an <br />email i<br />n the inbox1
	</div>
	<div ng-show="showActions" data-ng-swipe-right="someFunction()" class="performance">
		AF ERG ESRco<br />ntent, like an <br />email i<br />n the inbox2
	</div>
</div>






</div>

