
<!-- retreiveHeaderTitle() = {{retreiveHeaderTitle()}} -->

<div id="concerts-list" >
  <ul >
	<li ng-repeat="concert in filteredConcerts = (concerts | filter:Search.term | orderBy: concert[1])" class="">
	<a 	ng-href="#/concert/{{concert[0].work.id}}" 	class="row list-element gradient"	>
		<div class="col-xs-8">
			<h2 class="text-condensed black">
				{{concert[0].work.name}}
			</h2>
			<span class="grey">
				<span ng-show="concert[0].work.interpreter">
	        		{{concert[0].work.interpreter}}
	    		</span>
				<span ng-show="concert[0].work.director">
	        		DIRECT:{{concert[0].work.director}}
	    		</span>
	    		<span ng-show="concert[0].work.composer">
	        		COMP:{{concert[0].work.composer}}
	    		</span>
	    		<span ng-show="concert[0].work.style">
	        		STYLE:{{concert[0].work.style}}
	    		</span>
    		</span>
		</div>

		<div class="col-xs-4" >
		

			<div class="date">
				<div class="date-text color1-drop-shadow">
					<div class="day day-alt1 black text-light" >
						<span class="text-tiny">
						{{concert[1] | date : "EEE"}}
						</span>
						{{concert[1] | date : "d"}}
					</div>
					<div class="month month-alt1 text-bold white">
						{{concert[1] | date : "MMMM"}}
					</div>
				</div>
			</div>





		</div>		

	</a>
	</li>
	<!-- nghide to show only when there s no result
	ngshow to show only if we re in stateSearch, means the searh icon has been clicked -->
	<div ng-hide="filteredConcerts.length"  class="text-center center-vertical">
		<div  >
			Pas de résultat pour :
			<div class="text-italic text-light">“{{Search.term}}”</div>
			<div>
				<a ng-href="#/" class="size-huge color-lighter">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
			</div>
		</div>
	</div>
	
  </ul>



</div>





