<div ng-controller="ConcertsListController" id="concerts-list">
  <div ng-repeat="concert in concerts" class="">
	<a href="#" class="">
		<div class="col-xs-9">
			<h2 class="condensed text-bold">{{concert.name}}</h2>
			<span ng-show="concert.interpreter">
        		{{concert.interpreter}}
    		</span>
			<span ng-show="concert.director">
        		DIRECTOR:{{concert.director}}
    		</span>
    		<span ng-show="concert.composer">
        		COMPOSER:{{concert.composer}}
    		</span>
    		<span ng-show="concert.style">
        		STYLE:{{concert.style}}
    		</span>
		</div>
		<div class="col-xs-3">
			<div class="date">
				<div class="day">
					{{concert.performances[0].date_performance | date : "d"}}
				</div>
				<div class="month">
					{{concert.performances[0].date_performance | date : "MMMM"}}
				</div>
			</div>
		</div>
	</a>

  </div>
</div>