




<!-- <div style="background-color:red">yoyo</div> -->
<div id="concert" class="row" >
		<div 
		id="landscape" 
		style="
		background: url(../symfony/web/bundles/tapiocadesignclasslivegnv/images/works/{{work.name_url}}/landscape.jpg);
		background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position:center;
	    height: 50px;
	    "
		>
		</div>
		<div class="col-xs-12 bkg-color" id="concert-details">
			<ul>
						<li ng-show="work.interpreter">
			        		<span class="text-italic text-light">Interpreter(s):</span> {{work.interpreter}}
			    		</li>
						<li ng-show="work.director">
			        		<span class="text-italic text-light">Direction:</span> {{work.director}}
			    		</li>
			    		<li ng-show="work.composer">
			        		<span class="text-italic text-light">Composer(s):</span> {{work.composer}}
			    		</li>
			    		<li ng-show="work.style">
			        		<span class="text-italic text-light">Style:</span> {{work.style}}
			    		</li>
			</ul>
		</div>


		<div id="performances" class="color-darkest">

			<div>
				
				<div >
					<div rn-carousel-indicators ng-if="work.performances.length > 1" slides="work.performances" rn-carousel-index="carouselIndex2" >
					</div>
				</div>

				<div class="carousel-demo">
                    <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="2" class="carousel2">
                        <li ng-repeat="performance in work.performances" class="performance">
							<div class="row">
								<div class="col-xs-4">

									<div class="date date-narrow">
										<div class="day day-alt2 text-white text-light">
											<span class="text-tiny">
											{{performance.date_performance | date : "EEE"}}
											</span>
											{{performance.date_performance | date : "d"}}
										</div>
										<div class="month month-alt2 text-bold white">
											{{performance.date_performance | date : "MMMM"}}
										</div>
										<div class="text-bold larger">
											{{performance.date_performance | date : "H:mm"}}
										</div>
									</div>

									<div class="text-center">
										
												<img ng-src="../symfony/web/bundles/tapiocadesignclasslivegnv/images/places/{{performance.place.name_url}}/square.jpg" class="img-circle " />
											</div>

									<!-- <div ng-show="performance.ticket_email" >
										<button ng-href="{{performance.ticket_email}}" target="_blank"  >
											e-mail
										</button>
									</div> -->

									<!-- <div ng-show="performance.ticket_price_lowest" class="red-dark text-condensed">
										From chf {{performance.ticket_price_lowest}}.-
										<br />
										to {{performance.ticket_price_highest}}.-
									</div> -->

								</div>
								<div class="col-xs-8">


											<div class="red-dark ">
													<h3 class="text-condensed text-center">
													 	{{performance.place.name_fr}}
													</h3>
													<!-- <div>
													 	{{performance.place.address}}
													</div> -->
											</div>
											<div>
												<button 
												ng-click="go('/place/{{performance.place.id}}')"
												class="btn red-lighter width-full" >
													Details
												</button>
											</div>


											<br />

											<!-- ng-click="go('{{performance.ticket_website}}')" -->
											<div ng-show="performance.ticket_website" >
												<button 
												ng-click="go('/performance/{{performance.id}}/tickets')"

												target="_blank" 
												class="btn red-darker width-full" 
												target="_blank" 
												>
													Tickets<span ng-show="performance.ticket_price_lowest" class="">: chf {{performance.ticket_price_lowest}}~{{performance.ticket_price_highest}}.-
													</span>
												</button>
											</div>

											<!-- <div ng-show="performance.date_performance" >
												<button ng-click="clickWebsite()" ng-href="#" target="_blank" class="btn red-lighter" >
													chf {{performance.ticket_price_lowest}}.- / {{performance.ticket_price_highest}}.-
												</button>
											</div> -->


								</div>
								
							</div>

						</li>
                    </ul>
			
                </div>
			</div>
		</div>
		
</div>

