
<!-- <div style="background-color:red">yoyo</div> -->

<div id="concert" class="row" >

		<div 
		id="landscape" 
		style="
		background: url(../symfony/web/bundles/tapiocadesignclasslivegnv/images/works/{{work.name_url}}/landscape.jpg);
		background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position:center;
	    height: 50px;
	    "
		>
		</div>


		<div class="col-xs-12 bkg-color" id="work">

			<ul>
						<li ng-show="work.interpreter">
			        		<span class="enum-title text-light">Interpreter(s):</span> {{work.interpreter}}
			    		</li>
						<li ng-show="work.director">
			        		<span class="enum-title text-light">Direction:</span> {{work.director}}
			    		</li>
			    		<li ng-show="work.composer">
			        		<span class="enum-title text-light">Composer(s):</span> {{work.composer}}
			    		</li>
			    		<li ng-show="work.style">
			        		<span class="enum-title text-light">Style:</span> {{work.style}}
			    		</li>
			</ul>

		</div>






<div id="dates" class="color-darkest">
	drtg rdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdrtg rdt grdt rdth rdtdt grdt rdth rdt
	<!-- <div class="performance-bloc">
		es rgd trdth f hzjjtfzj ftjuz
	</div>
	<div class="performance-bloc">
		th f hzjuzguj z6u zhftzj hntfc jztfcz jtfzj ftjuz
	</div>
	<div class="performance-bloc">
		eth f hzjuztzj hntfc jztfcz jtfzj ftjuz
	</div> -->
</div>






</div>

