
<nav class="text-condensed row">
		<div class="col-xs-4 white">
			<a ng-href="#/concerts-list" class=" ">
				<span class="glyphicon glyphicon-th-list red-dark"></span>
				<span class="menu-label white">Concerts</span>
			</a>
		</div>
		<div class="col-xs-4 white">
			<a ng-href="#/map" class=" ">
				<span class="glyphicon glyphicon-map-marker red-dark"></span>
				<span class="menu-label white">Map</span>
			</a>
		</div>
		<div class="col-xs-4 white">
			<a ng-href="#/places-list" class=" ">
				<span class="glyphicon glyphicon-tower red-dark"></span>
				<span class="menu-label white">Places</span>
			</a>
		</div>
</nav>