FName2 {{Data.FirstName}}
	<div class="row">
			<div class="col-xs-2">
				<a href="#" class="white header-side-btn header-side-btn-left">
					<div class="glyphicon glyphicon-menu-hamburger red-dark">
						
					</div>
				</a>
			</div>
			<div class="col-xs-8">
				<h1 class="text-condensed white">
					h {{header_title}} Klassical live Genève
				</h1>
			</div>
			<div class="col-xs-2">
				<a href="#" class="white header-side-btn header-side-btn-right">
					 <div class="glyphicon glyphicon-search red-dark">
						
					</div>
				</a>
			</div>
</div>
			<!-- div>Salut {{blase}}
		<input ng-model="blase" placeholder="enter your blase"></div>
		</div -->
