	<div class="row" >
			<div class="col-xs-2">
				<div class="headerSideBtnLeft">
				
<!-- 
				<span ng-if="checked" class="animate-if">
				  FIFI
				</span> -->
				
				<!-- Data.searchAllowed={{Data.searchAllowed}}
				Data.searchActive={{Data.searchActive}}
				searchAllowed={{searchAllowed}}
				searchActive={{searchActive}}  -->
				<div id="search" ng-show="searchAllowed">
					<a  ng-click="searchActiveToggle()"  class="white header-side-btn " >
						<span class="glyphicon glyphicon-remove red-dark" ng-show="searchActive"></span>
						<span class="glyphicon glyphicon-search red-dark" ng-hide="searchActive"></span>
					</a>
				</div>

				<div id="back" ng-hide="searchAllowed">
					<a ng-href="{{back.url}}"  class="white header-side-btn " >
						<span class="glyphicon glyphicon-chevron-left red-dark" ></span>
					</a>
				</div>


				<!-- <a href="#/concerts-list" class="white header-side-btn " ><span class="glyphicon glyphicon-chevron-left red-dark"></span></a> -->
				

				</div>
			</div>
			<div class="col-xs-8" >
				
				<h1 class="text-condensed white" ng-hide="searchActive" >
					headerTitle={{Data.headerTitle}}{{headerTitle}}
				</h1>
	
					<div ng-controller='ConcertsListController' ng-show="searchActive" id="search-field">
						<input 
						type='text' 
						ng-model='search.searchTerm' 
						placeholder="Bach, Violoncelle, ..." 
						autofocus 
						focus-me="shouldBeOpen"
						>
					</div>
				
			</div>



			<div class="col-xs-2">
				<div class="headerSideBtnRight">
					<a href="#" class="white header-side-btn" header-side-btn-right><span class="glyphicon glyphicon-menu-hamburger red-dark"></span></a>
				</div>
			</div>



</div>
			
