<div ng-controller="PlaceController" id="place">
	<h2 class="text-condensed">
		{{place.name_fr}}
	</h2>
	
	<div 
	id="landscape" 
	style="
	background: url(../symfony/web/bundles/tapiocadesignclasslivegnv/images/places/{{place.name_url}}/landscape.jpg);
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:center;
    
    height: 50px;
    "
	>

	
		
	</div>
	
	<div class="btn-group btn-group-justified btn-group-lg " role="group">
		
		<div class="btn-group" role="group">
			<button ng-click="telephone(place.telephone)" type="button" class="btn btn-danger">
	  			<span class="glyphicon glyphicon-earphone" aria-hidden="true">
	  				
	  			</span>
			</button>
		</div>
		
		<div class="btn-group" role="group">
			<button ng-click="email(place.email)" type="button" class="btn btn-danger">
	  			<span class="glyphicon glyphicon-envelope" aria-hidden="true">
	  				
	  			</span>
			</button>
		</div>

		<div class="btn-group" role="group">
			<button ng-click="" type="button" class="btn btn-danger">
	  			<span class="glyphicon glyphicon-map-marker" aria-hidden="true">
	  				
	  			</span>
			</button>
		</div>
	</div>


		
	</div>
</div>


