<div ng-controller="PlaceController" id="place">
	<h2 class="text-condensed">
		{{place.name_fr}}
	</h2>
	
	<div 
	id="landscape" 
	style="
	background: url(../symfony/web/bundles/tapiocadesignclasslivegnv/images/places/{{place.name_url}}/landscape.jpg);
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:center;
    
    height: 50px;
    "
	>

	
		
	</div>
	as feiusfhey rghzeu rgzu
	<button type="button" class="btn btn-default">
  		<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
	</button>	
	</div>
</div>